body{
    background-color:rgb(39, 50, 56);
}

h1 {
text-align: center;
color: rgb(105, 133, 147);
background-color: white;
font-size: 70px;
font-family: Impact, Charcoal, sans-serif;
}

h2{
font-size: 30px;
font-family: impac, charcoal, sans-serif;
font-style:italic;
}

p{
color: white;
font-size: 10;
font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.titulo-aspiradora {
color: rgb(255, 232, 211);
}

.titulo-celulares{
color:rgb(171, 202, 212);
}

.titulo-consolas {
color:rgb(188, 189, 191);
}

.titulo-home-theater{
color:rgb(230, 203, 191);
}

.titulo-televisor{
color:rgb(141, 148, 161);
}


.imagen-aspiradora {
border: 5px solid rgb(230, 203, 191);
margin-left: 50px;
}

.imagen-celular {
border: 5px solid rgb(171, 202, 212);
margin-left: 50px;
}

.imagen-consola {
border: 5px solid rgb(188, 189, 191);
margin-left: 50px;
}
    
.imagen-home-theater {
border: 5px solid rgb(230, 203, 191);
margin-left: 50px;
}

.imagen-televisor {
border: 5px solid rgb(141, 148, 161);
margin-left: 50px;
}
